</main>
</div>
</div>   
  
  
</body>
<script>
feather.replace()
</script>
<style>
  .icon-color{
      color: black;
  }

  #nav-align{
      margin-top: -16px;
  }
  .carousel-control-prev-icon {          
position: absolute;
bottom: 0px;
left: 0px;
}

.carousel-control-next-icon {
position: absolute;
bottom: 10px;
right: 10px;    
}
.properties-top{
  margin-top: -10px;
}
</style>
</html>