</main>
</div>
</div>   


</body>
<script>
feather.replace()
</script>
<style>
.icon-color{
  color: black;
}

#nav-align{
  margin-top: -16px;
}
.carousel-control-prev-icon {          
position: absolute;
bottom: 0px;
left: 0px;
}

.carousel-control-next-icon {
position: absolute;
bottom: 10px;
right: 10px;    
}
.properties-top{
margin-top: -10px;
}

.btn-xs{
width: auto;
height: 2rem;
background-color: white;
padding: 3px 10px 15px 10px;
}   


</style>
</html>