<%- include layouts/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#">Naturaleza</a></li>
    <li class="breadcrumb-item active" aria-current="page">Imagen</li>
</ol>

<h4>Descripción de imagen</h4>
<div class="d-flex">
  <div class="col-3"> 
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-2 mb-1 text-muted">
      <span>Categorias</span>           
    </h6>  
    <a class="badge bg-secondary text-decoration-none" style="width: 5rem;">
      Naturaleza
    </a>
    <a class="badge bg-secondary text-decoration-none" style="width: 5rem;">
      Otros
    </a>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-5 mb-1 text-muted">
      <span>Propiedades</span>           
    </h6> 
    <div class="d-flex mt-2">
      <p>Subido por:</p>
      <img src="images/NotFound.png" class="mx-2" width="80px" alt="">
    </div>
    <div class="d-flex mt-2">
      <p>Tamaño:</p>
      <p class="mx-2">450 KB</p>
    </div>
    <div class="d-flex properties-top">
      <p>Formato:</p>
      <p class="mx-2">JPG</p>
    </div>
    <div class="d-flex properties-top">
      <p>Favoritos:</p>
      <p class="mx-2">21</p>
    </div>
    <div class="d-flex properties-top">
      <p>Subido:</p>
      <p class="mx-2">27/01/2021</p>
    </div>
    

  </div>
  <div class="container mt-4 col-10">          
      <img src="images/logo 2.jpg" width="70%" alt="">                    
  </div>
</div>

<%- include layouts/footer.ejs %>