<div class="row">
  <div class="col-md-4 offset-md-4">

    {{#if error}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

<<<<<<< HEAD
    <div class="card bg-dark text-light">
      <div class="card-body p-4">
        <h3 class="text-light h1">SignUp</h3>
=======
    <div class="card  text-primary">
      <div class="card-body p-4">
        <h3 class="text-primary h1">SignUp</h3>
>>>>>>> Grbranch
        <form action="/auth/signup" method="POST">
          <div class="mb-3">
            <label for="email">Write your email:</label>
            <input
              type="text"
              name="email"
<<<<<<< HEAD
              class="form-control bg-dark text-light border border-success"
=======
              class="form-control   border "
>>>>>>> Grbranch
              placeholder="youremail@company.com"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password">Write your Password:</label>
            <input
              type="password"
              name="password"
<<<<<<< HEAD
              class="form-control bg-dark text-light border border-success"
=======
              class="form-control   border "
>>>>>>> Grbranch
              placeholder="Password"
            />
          </div>
          <div class="mb-3">
            <label for="confirm-password">Repite tu Contraseña:</label>
            <input
              type="password"
              name="confirm-password"
<<<<<<< HEAD
              class="form-control bg-dark text-light border border-success"
              placeholder="Confirm Password"
            />
          </div>
          <button class="btn btn-success btn-block">
=======
              class="form-control   border "
              placeholder="Confirm Password"
            />
          </div>
          <button class="btn btn-outline-primary btn-block">
>>>>>>> Grbranch
            SignUp
          </button>
        </form>
      </div>
    </div>
    <p class="my-3">Do you have an Account
<<<<<<< HEAD
      <a href="/auth/signin" class="text-success">Login</a></p>
=======
      <a href="/auth/signin" class="text-info">Login</a></p>
>>>>>>> Grbranch
  </div>
</div>