<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="../../public/css/animate.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/media-queries.css">
    <link rel="stylesheet" href="../../public/css/carousel.css">

</head>

<body>
    <main>
        <header class="py-3 mb-3 border-bottom">
            <div class="d-flex align-items-center">
                <img src="../..//public/images/logo.png" height="50px" alt="">
                <form class="w-100">
                    <div class="mx-5 col-md-10">
                        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
                    </div>
                </form>
                <div class="d-flex">
                    <button class="ms-5 btn btn-secondary">Ingresar</button>
                    <button class="me-5 mx-3 btn btn-secondary">Registrarse</button>
                </div>
            </div>
            </div>
        </header>
        <div class="b-example-divider"></div>
    </main>

   
